# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn.lock

node_modules
dist
dist-ssr
.eslintcache
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln
*.sw?

.env

.react-router

playwright-report
test-results